<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li>Something</li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<!-- Post comments -->
			<div class="notecomments">
				{% include disqus.html %}	 
			</div>
			
			<footer>
	        		<li>something else</li>
			</footer>
		</body>
	</html>
